* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Readex Pro", sans-serif;
    background: #F7FBF4;
    color: #F7FBF4;
}

#page {
    margin: 4vh;
}

section {
    padding: 2em;
    font-size: 2.25em;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #847715;
    font-size: 3em;
}

svg {
    width: 40px;
    height: 40px;
}

footer svg {
    position: relative;
    top: 0.4em;
}

nav {
    color: #847715;
    flex-shrink: 0;
}

nav li {
    display: inline;
    padding: 0.5em;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

.active {
    font-weight: bold;
}

.visible {
    display: initial;
    cursor: pointer;
}

.invisible {
    display: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_menu {
    display: none;
    position: absolute;
    width: 100%;
    background: #847715;
    border-radius: 5px;
    top: 100%;
    color: #F7FBF4;
}

.dropdown:hover .dropdown_menu_animated {
    display: block;
    z-index: 1;
}

.dropdown_menu li {
    display: block;
    transition: all 0.5s ease-out;

}

.dropdown_menu_animated {
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

.dropdown_menu li:hover {
    background: #98891a;
    border-radius: 5px;
}

.dropdown_item {
    font-size: 70%;
    padding: 0;
}

.clickable {
    position: relative;
    z-index: 1;
    display: block;
    padding: 5%;
}

#content {
    background: #77ABDB;
    border-radius: 28px;
}

#contact h2 {
    font-size: 4em;
}

section h2 {
    font-size: 1.25em;
}

#hero h2 {
    font-size: 10em;
}

.header {
    position: relative;
    top: 0.3em;
    text-align: center;
    font-size: 4em;
    z-index: 0;
}

img {
    width: 100%;
    height: 100%;
}

#hero, #contact {
    padding: unset;
    font-size: unset;
}

#hero img {
    position: relative;
}

#species_about {
    padding: 2em 2em 0 2em;
}

#species img {
    border-radius: 20px;
}

.gallery {
    margin-top: 1em;
}

.flex_container_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about div {
    flex-basis: 50%;
    flex-grow: 2;
}

figure {
    margin: 0.5em;
}

.about figure {
    margin: 0.5em 0 0.5em 0.5em;
}

audio {
    border-radius: 20px;
    width: 100%;
}

form {
    padding: 2em;
    width: 40vw;
    margin: auto;
}

fieldset {
    padding: 1em;
    border: solid 2px;
    border-radius: 20px;
    font-size: 1.5em;
    line-height: 1.6em;
}

input {
    vertical-align: middle;
}

input[type="text"], input[type="email"] {
    width: 300px;
}

input[type="radio"], input[type="checkbox"]{
    width: initial;
    display: inline;
}

.choice div {
    display: inline;
}

.choice label {
    font-size: 80%;
}

.button {
    padding: 0.25em;
    margin: 0.25em;
    float: right;
    width: initial;
}

textarea {
    width: 98%;
    height: 15vh;
    resize: none;
    padding: 0.25em;
}

textarea::placeholder {
    color: #706a6f;
}

.light_font {
    color: #F7FBF4;
}

.border_light {
    border-color: #F7FBF4;
}

.border_dark {
    border-color: #312e2e;
}

.dark_font  {
    color: #312e2e;
}

.dark_background {
    background-color: #312e2e;
}

.light_font a {
    color: #c6e3ff;
}

.dark_font a {
    color: #2c2929;
}

.light_font a:hover {
    color: #9dcfff;
}

header .light_font a {
    color: #F7FBF4;
}

header .light_font a:hover {
    color: #F7FBF4;
}

.dark_font a:hover {
    color: #575454;
}

header .dark_font a {
    color: #2c2929;
}

header .dark_font a:hover {
    color: #2c2929;
}

table, th, td {
    border: solid 2px;
    border-collapse: collapse;
}

td {
    padding: 0.5em;
}

table {
    margin: auto;
}

@media screen
and (width: 411px)
and (height: 731px) {

    body {
        font-size: 50%;
    }

    #page {
        margin: 3vh;
    }

    #menu ul{
        display: flex;
        flex-flow: wrap column;
    }

    #menu nav li {
        display: block;
    }

    .choice div {
        display: block;
    }

    .dropdown_item a {
        display: none;
    }

    p {
        text-align: justify;
    }

    svg {
        width: 9%;
        height: 9%;
    }

    h2 {
        font-size: 3.5em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    #hero h2 {
        font-size: 5em;
    }

    #hero img {
        position: relative;
        top: -3em;
    }

    #contact h2 {
        font-size: 3.5em;
    }

    #species_about {
        padding: 0.75em 2em 0 2em;
    }

    fieldset {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8em;
    }

    input[type="text"], input[type="email"] {
        width: 60vw;
    }

    form {
        width: 70vw;
    }

    .choice label {
        font-size: 90%;
    }

    select {
        margin: 1vw;
        display: block;
    }

    input, textarea, select {
        display: block;
        width: 60vw;
    }

    table {
        display: none;
    }
}

@media screen
and (width: 411px)
and (height: 731px)
and (orientation: portrait) {

    body {
        font-size: 50%;
    }

    #page {
        margin: 3vh;
    }

    #menu ul{
        display: flex;
        flex-flow: wrap column;
    }

    #menu nav li {
        display: block;
    }

    .choice div {
        display: block;
    }

    .dropdown_item a {
        display: none;
    }

    p {
        text-align: justify;
    }

    svg {
        width: 9%;
        height: 9%;
    }

    h2 {
        font-size: 3.5em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    #hero h2 {
        font-size: 5em;
    }

    #hero img {
        position: relative;
        top: -3em;
    }

    #contact h2 {
        font-size: 3.5em;
    }

    #species_about {
        padding: 0.75em 2em 0 2em;
    }

    fieldset {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8em;
    }

    input[type="text"], input[type="email"] {
        width: 60vw;
    }

    form {
        width: 70vw;
    }

    .choice label {
        font-size: 90%;
    }

    select {
        margin: 1vw;
    }

    input, textarea, select {
        display: block;
        width: 60vw;
    }

    table {
        display: none;
    }
}